*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(32, 32, 32, 0.692);
    color: orange;
}
img{
    width: 62.5%;
    position: relative;
    left: 300px;
    top: 20px;
}
.header{
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

#clock{
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}
.para-1{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
}